@import url('./categories.css');
@import url('./challenges.css');

:root {
	--bg-color: #111111;
	--bg-wrapper: #151515;

	--title-color: #eeeeee;
	--paragraph-color: #bebebe;

	--radius: .5rem;
}

.body {
	background-color: var(--bg-color);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	background-color: var(--bg-wrapper);
	width: min(80vw, 1024px);
	padding: 4rem 1rem;
	border-radius: var(--radius);
	display: flex;
	gap: 1.5rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.wrapper__article {
	border: 1px solid var(--paragraph-color);
	padding: 1rem;
	border-radius: var(--radius);
	width: 40%;
	cursor: pointer;
	color: var(--paragraph-color);
	box-sizing: border-box;
}

.icon {
	font-size: 2rem;
	color: var(--paragraph-color);
	cursor: pointer;
}
